@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background: rgba(24, 23, 23, 1);
}

html,
body,
.font-sans {
  overflow: scroll;
  overflow-x: hidden;
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-style: normal;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
